/* ROOT */
.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-background-color: #c4c4c4;
    -fx-padding: 10;
}

/* BOTÕES */
.btn {
    -fx-background-color: #53007c;
    -fx-text-fill: #ffffff;
    -fx-padding: 10;
    -fx-margin-bottom: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pointer-events: hand;
}

.btn:hover {
    -fx-background-color: #38004e;
    -fx-text-fill: #ffffff;
    -fx-border-color: #1b1b1b;
}

.btn_salvar_dados, .btn_carregar_dados {
    -fx-background-color: #002d70;
    -fx-text-fill: #ffffff;
}

.btn_salvar_dados:hover, .btn_carregar_dados:hover {
    -fx-background-color: #001a3d;
    -fx-text-fill: #ffffff;
    -fx-border-color: #1b1b1b;
}
